/Proyecto 2/ace2Proyecto2*.iml
/Proyecto 2/ace2Proyecto2.gradle
/local.properties
/Proyecto 2/ace2Proyecto2/.idea/caches
/Proyecto 2/ace2Proyecto2/.idea/libraries
/Proyecto 2/ace2Proyecto2/.idea/modules.xml
/Proyecto 2/ace2Proyecto2/.idea/workspace.xml
/Proyecto 2/ace2Proyecto2/.idea/navEditor.xml
/Proyecto 2/ace2Proyecto2/.idea/assetWizardSettings.xml
/Proyecto 2/ace2Proyecto2/.DS_Store
/Proyecto 2/ace2Proyecto2/build
/Proyecto 2/ace2Proyecto2/captures
/Proyecto 2/ace2Proyecto2.externalNativeBuild
/Proyecto 2/ace2Proyecto2.cxx
/Proyecto 2/ace2Proyecto2local.properties

