<div class="container">
  <h3>Graficas a lo largo del tiempo</h3>
  <div class="border border-dark">
    <div>
      <label for="startDate">Fecha de inicio:</label>
      <input type="date" id="startDate" [(ngModel)]="startDate">
      <label for="startTime">Hora de inicio:</label>
      <input type="time" id="startTime" [(ngModel)]="startTime">
      <label for="startTimeSeconds">:</label>
      <input type="number" id="startTimeSeconds" [(ngModel)]="startTimeSeconds">
    </div>
    <div>
      <label for="endDate">Fecha de fin:</label>
      <input type="date" id="endDate" [(ngModel)]="endDate">
      <label for="endTime">Hora de fin:</label>
      <input type="time" id="endTime" [(ngModel)]="endTime">
      <label for="endTimeSeconds">:</label>
      <input type="number" id="endTimeSeconds" [(ngModel)]="endTimeSeconds">
    </div>
    <div>
      <button (click)="getData()">Generar Gráficas</button>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
                  [data]="lineChartData1"
                  [options]="lineChartOptions1"
                  [type]="lineChartType">
          </canvas>
        </div>
      </div>
      <div class="col-6">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
                  [data]="lineChartData2"
                  [options]="lineChartOptions2"
                  [type]="lineChartType">
          </canvas>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
                  [data]="lineChartData3"
                  [options]="lineChartOptions3"
                  [type]="lineChartType">
          </canvas>
        </div>
      </div>
      <div class="col-6">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
                  [data]="lineChartData4"
                  [options]="lineChartOptions4"
                  [type]="lineChartType">
          </canvas>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
                  [data]="lineChartData5"
                  [options]="lineChartOptions5"
                  [type]="lineChartType">
          </canvas>
        </div>
      </div>
    </div>

  </div>
</div>

