
<div class="container">
    <h3> Dashboard sistema de riego</h3>
    <button (click)="changeData()"> clickeame</button>
    <div class="border border-dark">
        <div class="row">
            <div class="col-6">
                <div class="chart-wrapper">
                    <canvas baseChart type="bar" height="200"
                    [data]="externalTemperatureGraph.data"
                    [options]="externalTemperatureGraph.options">
                    </canvas>
                </div>
            </div>
            <div class="col-6">
                <canvas baseChart type="bar" [data]="externalTemperatureGraph.data"></canvas>
                
            </div>
        </div>
    
        <div class="row">
            <div class="col-6">
                <div class="chart-wrapper">
                    <canvas baseChart type="bar" 
                    [data]="externalTemperatureGraph.data"
                    [options]="externalTemperatureGraph.options"></canvas>
                </div>
            </div>
            <div class="col-6">
                holi4
            </div>
        </div>
    </div>
    
</div>
