<div class="container">
    <div class="row">
        <div class="col" style="background-color: white;">
            <h1>Graficas de Pomodoro</h1>
            <div id="svg_1"></div>
            <br>
            <div id="svg_2"></div>
            <br>
            <div id="svg_3"></div>
            <br>
            <div id="svg_4"></div>
            <br>
            <div id="svg_5"></div>
            <br>
            <div id="svg_6"></div>
            <br>
            <div id="svg_7"></div>
            <br>
            <div id="svg_8"></div>
        </div>
    </div>

</div>


